@model IEnumerable<ByteTest.Application.Dtos.DegreeDto>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage degrees</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <a href="#" onclick="Create('Degrees')">Create degree</a>
          </p>
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>CreationTime</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CreationTime)</td>
                <td><a href="#" onclick="Update('Degrees', @item.Id)">Update</a> | <a href="#" onclick="Delete('Degrees', @item.Id)">Delete</a></td>
              </tr>
            }
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>